:root {
	--bs-nav-link-font-size: 22px;
	--bs-nav-link-color: rgba(var(--bs-primary-rgb));
}

/* Allgemein */

hmtl, body {
	font-family: 'Montserrat', sans-serif;
}

/* Bootstrap */

.container-fluid {
	max-width: 1500px;
	margin: auto;
}

/* Header */

.header-logo {
	height:50px;
	width: auto;
	display: inline-block;
}

html:dir(rtl) header {
  text-align: right;
}

html:dir(rtl) .header-element-wrapper {
  flex-direction: row-reverse;
}

/* Tabelle */

.table thead th button {
	position: relative;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.table thead th button:after {
	position: absolute;
	right: -1.2rem;
	top: 0rem;
	font-family: "Phosphor";
}

.table thead th.asc-sorting button, .table thead th.desc-sorting button {
	color:rgba(var(--bs-primary-rgb));
	font-weight: 700;
}

.table thead th.asc-sorting button:after, .table thead th.desc-sorting button:after {
	content: "\e08e";
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.table thead th.desc-sorting button:after {
	transform: rotate(180deg);
}

.table td {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;	
}

.table td.is-selected {
	background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.table td:nth-child(1), .table th:nth-child(1) {
	width:50%;
}

.table td:nth-child(2), .table th:nth-child(2), .table td:nth-child(3), .table th:nth-child(3) {
	width:25%;
}

.table td:nth-child(2), .table th:nth-child(2) {
	border-left:1px solid var(--bs-border-color);
	border-right: 1px solid var(--bs-border-color);
}