  <!-- Header -->
  <header class="text-primary p-3">
	<div class="header-elem-wrapper container-fluid d-flex justify-content-between align-items-center">
		<a href="/" class="d-flex align-items-center m-2 text-decoration-none text-primary">
			<img src="/assets/img/template/logo-primary.svg" alt="Logo" class="me-2 ms-2 header-logo">
			<h1 class="mb-0 fw-bold">EarthCircle</h1>
		</a>
		<div  class="d-flex">
			<!-- Navigation -->
			<nav class="d-flex justify-content-between align-items-center">
				<a href="/co2-emissionen" class="nav-link text-primary m-4 co2-emissionen">CO₂-Emissionen</a>
				<a href="/ueber-uns" class="nav-link text-primary m-4 ueber-uns">Über Uns</a>
				<a href="/blog" class="nav-link text-primary m-4 blog">Blog</a>
				<a href="/kontakt" class="nav-link text-primary m-4 kontakt">Kontakt</a>
				{% include socialIcons.html %}
			</nav>
		</div>
	</div>
  </header>